* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
    max-width: 900px;
    min-height: 500px;
    margin: auto;
    padding: 30px 10px 0px;
}

h1 {
    font-family: 'Galada', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #505050;
}

.descricao {
    font-size: 1.5rem;
    text-align: center;
    color: #3b3b3b;
}

form {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

form input {
    font-family: 'Fira Sans', sans-serif;
    width: 80%;
    height: 2rem;
    font-size: 1.3rem;
    padding: 0px 5px;
}

form input:focus {
    border: 1px solid black;
    outline: none;
}

form button {
    font-family: 'Fira Sans', sans-serif;
    background-color: blanchedalmond;
    border: 1px solid #979797;
    width: 150px;
    min-width: 80px;
    height: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(255, 219, 164);
    border: 1px solid black;
}

.dropzones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dropzone {
    border: 1px dashed #777777;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.palavra {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.letras {
    /* border: 1px solid black; */
    font-size: 1.6rem;

    /* background: linear-gradient(to right, #ceb975, #e7dda2); */
    background-color: #e7dda2;
    font-family: 'Roboto Slab', serif;
    color: black;

    border-radius: 5px;
    box-shadow: 0px 6px 0px #ad9c65;

    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: grab;
}

.highlight {
    background-color: rgb(168, 167, 241, 0.4);
}

.is-dragging {
    cursor: grabbing !important;
    opacity: 0.3;
}

.over {
    background-color: rgb(168, 167, 241);
}

footer {
    width: 100%;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

footer p {
    margin-bottom: 8px;
    color: #505050;
}

footer p a {
    color: inherit;
}

footer p a:visited {
    color: inherit;
}

footer p a:hover {
    font-weight: bold;
}